
@{
    ViewBag.Title = "Contact";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">KitapAdı</th>
            <th scope="col">Yazar</th>
            <th scope="col">Tür</th>
            <th scope="col">SayfaNumarası</th>
            <th scope="col">Ekle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Umut</td>
            <td>Karaca</td>
            <td>Aşıklar Köprüsü</td>
            <td>Caner Yıldız</td>
            <td>Aşk</td>
            <td>233</td>
            <td><button class="btn btn-success">Güncelle </td>
            <td><button class="btn btn-danger">Sil </td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Aylin</td>
            <td>Su</td>
            <td>Aşıklar Köprüsü</td>
            <td>Cansu Kaya</td>
            <td>Aşk</td>
            <td>233</td>
            <td><button class="btn btn-success">Güncelle </td>
            <td><button class="btn btn-danger">Sil </td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tarık</td>
            <td>Avcı</td>
            <td>Ateşten Gömlek</td>
            <td>Halide Edip Adıvar</td>
            <td>Savaş</td>
            <td>250</td>
            <td><button class="btn btn-success">Güncelle </td>
            <td><button class="btn btn-danger">Sil </td>

        </tr>
    </tbody>
</table>