@{
    ViewBag.Title = "";
}
<table class="table table-hover">
   @* @Html.ActionLink("Yeni kayıt", "yeni KAyıt", null, new { @class = "btn btn-primary" })*@
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Ekle</th>
            <th scope="col">Sil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>

            <td>Umut</td>
            <td>Gücük</td>
            <td><button class="btn btn-success">Ekle </td>
            <td><button class="btn btn-danger">Sil </td>

        </tr>
        <tr>
            <th scope="row">2</th>

            <td></td>
            <td></td>
            <td><button class="btn btn-success">Ekle </td>
            <td><button class="btn btn-danger">Sil </td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Tarık</td>
            <td>Avcı</td>
            <td><button class="btn btn-success">Ekle </td>
            <<td><button class="btn btn-danger">Sil </td>
            
        </tr>

     

    </tbody>
</table>
<button class="btn-warning">Güncelle</button>


