@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*bu sayfa açılırken klasöre sağ tıklayıp add razor page layouta tıklaman lazım*@

@*ctr+k+c-> yoruma alır
ctrl+k+u ->yorumdan çıkartır*@
<p> submit butonuna basıldıktan sonraki sayfadır.</p> 
table