
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Kitap Tablosu</h3>
<table class="table table-bordered">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Kategori Adı</th>
      
    </tr>

    <tbody>
        <tr>
            <th scope="row">1</th>

            <td>1</td>
            <td>1</td>
            


            <td><button class="btn btn-success">Tıkla </td>
            <td><button class="btn btn-danger">Tıkla</td>

        </tr>
        <tr>
            <th scope="row">2</th>

            <td>3</td>
            <td>3</td>
            

            <td><button class="btn btn-success">Tıkla </td>
            <td><button class="btn btn-danger">Tıkla </td>

        </tr>

    </tbody>
</table>
<button class="btn-warning">Güncelle</button>